<section id="nous">
	<ul>
		<li>
			<a href="#"><img src="http://placehold.it/150x150" /></a>
			<p><%= auto_link(@tw_vivas) %></p>
			<h3>Natalia Vivas</h3>
			<h4>Expertise</h4>
		</li>
		<li>
			<a href="#"><img src="http://placehold.it/150x150" /></a>
			<p><%= auto_link(@tw_maria) %></p>
			<h3>Maria Isabel</h3>
			<h4>Expertise</h4>
		</li>
		<li>
			<a href="#"><img src="http://placehold.it/150x150" /></a>
			<p><%= auto_link(@tw_sergio) %></p>
			<h3>Sergio Martinez</h3>
			<h4>Expertise</h4>
		</li>
		<li>
			<a href="#"><img src="http://placehold.it/150x150" /></a>
			<p><%= auto_link(@tw_ana) %></p>
			<h3>Anabelle Handdoek</h3>
			<h4>Expertise</h4>
		</li>
		<li>
			<a href="#"><img src="http://placehold.it/150x150" /></a>
			<p><%= auto_link(@tw_mantilla) %></p>
			<h3>Mauricio Mantilla</h3>
			<h4>Expertise</h4>
		</li>
	</ul>
</section>

<section id="hall">
	<h3>Hall de honor</h3>
</section>

<section class="clearfix" id="mas">
	<div id="about">
		<h3>Sobre UV8</h3>
		<p class="lead">Tart wafer cake candy cake marzipan I love bear claw tart. Faworki muffin jelly wypas gingerbread gummi bears apple pie topping I love.</p>

		<p>Chupa chups lemon drops I love chocolate cake pastry tootsie roll bear claw cotton candy donut. Lemon drops cake I love muffin donut cupcake lemon drops. I love I love bear claw bear claw applicake chocolate bar I love. I love chocolate bar pie ice cream croissant chupa chups tootsie roll. Fruitcake pie chocolate cake dragée.</p>

		<p>Chocolate dessert chocolate. Topping cookie macaroon marzipan wafer. Pastry chocolate cake apple pie marshmallow faworki jelly-o bonbon I love bonbon. Wypas jujubes sugar plum. Croissant lemon drops I love I love dessert cupcake pie jujubes. Ice cream candy canes I love apple pie faworki icing I love cookie.</p>	
	</div>

	<div id="us">
		<ul id="companies">
			<li>Usaria</li>
			<li>Vulcan estudios</li>
			<li>8manos</li>
		</ul>

		<div class="map">
			<h4>UV8</h4>
			<p>Cll 94 #15-32 Of.301, Bogotá.</p>
			<!-- map -->
		</div>
	</div>
</section>

<footer>
	we're roomies
</footer>