<section id="nous">
	<ul>
		<li>
			<a href="http://twitter.com/NataliaVivas" target="_blank">
				<%= image_tag(@av_vivas) %>
			</a>
			<p><%= auto_link(@tw_vivas) %></p>
			<h3>Natalia Vivas</h3>
			<h4 class="georgia">Usability Freak</h4>
		</li>
		<li>
			<a href="http://twitter.com/MariaIsabelMC" target="_blank"><img src="http://placehold.it/150x150" /></a>
			<p><%= auto_link(@tw_maria) %></p>
			<h3>Maria Isabel</h3>
			<h4 class="georgia">UX Consultant</h4>
		</li>
		<li>
			<a href="http://twitter.com/MisteryMotion" target="_blank"><img src="http://placehold.it/150x150" /></a>
			<p><%= auto_link(@tw_sergio) %></p>
			<h3>Sergio Martinez</h3>
			<h4 class="georgia">UI Designer</h4>
		</li>
		<li>
			<a href="http://twitter.com/heyanabelle" target="_blank"><img src="http://placehold.it/150x150" /></a>
			<p><%= auto_link(@tw_ana) %></p>
			<h3>Anabelle Handdoek</h3>
			<h4 class="georgia">Web Developer</h4>
		</li>
		<li>
			<a href="http://twitter.com/mantish" target="_blank"><img src="http://placehold.it/150x150" /></a>
			<p><%= auto_link(@tw_mantilla) %></p>
			<h3>Mauricio Mantilla</h3>
			<h4 class="georgia">Web Developer</h4>
		</li>
	</ul>
</section>

<section id="hall">
	<h3>Hall de honor</h3>

	<ul class="slides">
		<% @medias.data.each do |media| %>
			<li class="thumb">
			<%= link_to image_tag(media.images.thumbnail.url), media.images.standard_resolution.url, rel: "lightbox" %>
			</li>
		<% end %>
	</ul>
</section>

<section class="clearfix" id="mas">
	<div id="about">
		<h3>Sobre UV8</h3>
		<p class="lead">En UV8 buscamos compartir el conocimiento para mejorar el ecosistema tecnol칩gico y de emprendimiento desde el dise침o, el desarrollo y la experiencia de usuario desde nuestro entorno colaborativo.</p>

		<p>UV8 es la uni칩n de tres empresas que se complementan, un esfuerzo por aprender y compartir lo que nos interesa.</p>	
	</div>

	<div id="us">
		<ul id="companies">
			<li id="usaria"><a class="ir logos-u" href="http://usaria.co" target="_blank">Usaria</a></li>
			<li id="vulcan"><a class="ir logos-v" href="http://v3.vulcan-estudios.com" target="_blank">Vulcan estudios</a></li>
			<li id="manos"><a class="ir logos-m" href="http://8manos.com" target="_blank">&infin;manos</a></li>
		</ul>

		<div class="map">
			<h4>UV8</h4>
			<p>Cll 94 #15-32 Of.301, Bogot치.</p>
			<!-- map -->
		</div>
	</div>
</section>

<footer>
	we're roomies
</footer>